/*******************************
.welcome {
	height: 200px;
	background-color: white;
}
****************************************/
.layer {
  position: relative;
  height: 50vh; }

.table, .table-bordered {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-right: 25px;
  margin-bottom: 0;
  width: 50%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid white; }

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th {
  font-size: 2em;
  line-height: 1em; }

.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 2px solid white; }

img {
  position: absolute;
  vertical-align: bottom; }

#inner-core {
  background-image: url(../img/InnerCore.png);
  background-color: #F1C919; }

#outer-core {
  background-color: #FCA41C; }

#Mantle {
  background-image: url(../img/Mantle.png);
  background-color: #BB2026; }

#Crust {
  background-image: url(../img/Crust.png);
  background-color: #9E301F; }

#Earth {
  background-color: green; }

#Troposphere {
  height: 80vh;
  background-color: #80D6F7; }
  #Troposphere #everest {
    bottom: 0; }
  #Troposphere #clouds1 {
    top: 15%;
    -webkit-animation: moveclouds 45s linear infinite;
    -moz-animation: moveclouds 45s linear infinite;
    -o-animation: moveclouds 45s linear infinite; }
  #Troposphere #clouds2 {
    -webkit-animation: moveclouds2 45s linear infinite;
    -moz-animation: moveclouds2 45s linear infinite;
    -o-animation: moveclouds2 45s linear infinite; }
  #Troposphere #clouds3 {
    opacity: 20%;
    top: 20%;
    -webkit-animation: moveclouds3 25s linear infinite;
    -moz-animation: moveclouds3 25s linear infinite;
    -o-animation: moveclouds3 25s linear infinite; }

#Stratosphere {
  background-image: url(../img/Stratosphere.png);
  background-color: #00ADEF; }
  #Stratosphere #balloon {
    -webkit-animation: balloonMove 5s linear infinite;
    -moz-animation: balloonMove 5s linear infinite;
    -o-animation: balloonMove 55s linear infinite; }

#Mesosphere {
  background-color: #3478FF; }

#meteor {
  -webkit-animation: meteorMove 5s linear infinite;
  -moz-animation: meteorMove 5s linear infinite;
  -o-animation: meteroMove 5s linear infinite; }

#meteor1 {
  margin-top: 90px;
  -webkit-animation: meteorMove 8s linear infinite;
  -moz-animation: meteorMove 8s linear infinite;
  -o-animation: meteroMove 8s linear infinite; }

#Thermosphere {
  background-color: #246CFE; }
  #Thermosphere #Aurora1 {
    left: 5%; }
  #Thermosphere #Aurora2 {
    top: 10%;
    left: 20%; }

#Exosphere {
  background-color: #2D3393; }

#Moon {
  height: 70vh;
  background-image: url(../img/Space1.png);
  background-color: grey; }

#Mars {
  height: 70vh;
  background-image: url(../img/Space2.png);
  background-color: red; }

#Jupiter {
  height: 70vh;
  background-image: url(../img/Space3.png);
  background-color: red; }

#Saturn {
  height: 70vh;
  background-image: url(../img/Space4.png);
  background-color: black; }

#Uranus {
  background-image: url(../img/AllSpace.png);
  background-color: black; }

#Neptune {
  background-image: url(../img/AllSpace.png);
  background-color: black; }

#Pluto {
  background-image: url(../img/AllSpace.png);
  background-color: black; }

#local-galactic-group {
  background-image: url(../img/AllSpace.png);
  background-color: black; }

#Sirius {
  background-image: url(../img/AllSpace.png);
  background-color: black; }

#galactic-core {
  background-image: url(../img/AllSpace.png);
  background-color: black; }

@-webkit-keyframes moveclouds {
  0% {
    margin-left: 100%; }
  30% {
    margin-left: 0%; }
  100% {
    margin-left: 100%; } }
@-moz-keyframes moveclouds {
  0% {
    margin-left: 100%; }
  30% {
    margin-left: 0%; }
  100% {
    margin-left: 100%; } }
@-o-keyframes moveclouds {
  0% {
    margin-left: 100%; }
  30% {
    margin-left: 0%; }
  100% {
    margin-left: 100%; } }
@-webkit-keyframes moveclouds2 {
  0% {
    margin-left: 80%; }
  50% {
    margin-left: -10%; }
  100% {
    margin-left: 90%; } }
@-moz-keyframes moveclouds2 {
  0% {
    margin-left: 100%; }
  50% {
    margin-left: 0%; }
  100% {
    margin-left: 80%; } }
@-o-keyframes moveclouds2 {
  0% {
    margin-left: 100%; }
  50% {
    margin-left: 0%; }
  100% {
    margin-left: 80%; } }
@-webkit-keyframes moveclouds3 {
  0% {
    margin-left: 100%; }
  70% {
    margin-left: 0%; }
  100% {
    margin-left: 90%; } }
@-moz-keyframes moveclouds3 {
  0% {
    margin-left: 100%; }
  70% {
    margin-left: 0%; }
  100% {
    margin-left: 90%; } }
@-o-keyframes moveclouds3 {
  0% {
    margin-left: 0%; }
  70% {
    margin-left: 100%; }
  100% {
    margin-left: 90%; } }
@-webkit-keyframes balloonMove {
  0% {
    margin-top: 0%; }
  50% {
    margin-top: 3%; }
  100% {
    margin-top: 0%; } }
@-moz-keyframes balloonMove {
  0% {
    margin-left: 0%; }
  50% {
    margin-left: 4%; }
  100% {
    margin-left: 0%; } }
@-o-keyframes balloonMove {
  0% {
    margin-left: 0%; }
  50% {
    margin-left: 4%; }
  100% {
    margin-left: 0%; } }
@-webkit-keyframes meteorMove {
  0% {
    margin-left: 0%; }
  100% {
    margin-left: 100%; } }
@-moz-keyframes meteorMove {
  0% {
    margin-left: 0%; }
  50% {
    margin-left: 4%; }
  100% {
    margin-left: 0%; } }
@-o-keyframes meteorMove {
  0% {
    margin-left: 0%; }
  50% {
    margin-left: 4%; }
  100% {
    margin-left: 0%; } }

/*# sourceMappingURL=main.css.map */
